@model IEnumerable<DOTNET_CuoiKy.Models.Sanpham>

@{
    ViewData["Title"] = "Danhmucs";
}

<h1>Danh mục </h1>
<section class="blog_area section_padding_0_80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-md-6">
                            <div class="single-post wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src="~/@item.Hinh1" alt="">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            
                                        </div>
                                        <!-- Post Comment & Share Area -->
                                    </div>
                                    <a asp-action="Chitiets" asp-controller="home" asp-route-idsp="@item.IdsanPham">

                                        <h4 class="post-headline">@item.TenSp</h4>

                                        <a href="#" class="read-more">Continue Reading..</a>


                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


