@{
    ViewData["Title"] = "Home Page";
}
@section sanphamloader{
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/js/others/plugins.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/active.js"></script>
}
@await Component.InvokeAsync(nameof(SanphamHotLoader).Replace("ViewComponent", ""))
@await Component.InvokeAsync(nameof(DanhMucloader).Replace("ViewComponent", ""))
@if (ViewData["LoginMess"] != null)
{

    <h3 class="text-center">@ViewData["LoginMess"]</h3>
}
