@model IEnumerable<DOTNET_CuoiKy.Models.DB.Danhmuc>

@{
    ViewData["Title"] = "Index";

    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>DANH MỤC THỨC ĂN</h2>
<div class="text-warning">
    @ViewBag.CateError
</div>
<hr />
<p>
    <a asp-action="Create">Tạo danh mục mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Danh Mục
            </th>
            <th>
                Tùy chọn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDm)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IddanhMuc">Edit</a> |
                    
                    <a  asp-action="Delete" asp-route-id="@item.IddanhMuc">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
