@media (min-width: 992px) and (max-width: 1199px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    ul.dropdown-cart {
        min-width: 200px !important;
    }
    .container {
        padding: 0px;
    }
   .cartNoti{
       display:block;
   }
    .form-control {
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cartNoti {
        display: block !important;
    }
    .container {
        padding: 0px;
    }
    ul.dropdown-cart {
        min-width: 200px !important;
    }

    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    .navbar-toggler {
        background-color: #fc6c3f;
        width: 100%;
        color: #fff;
        margin-bottom: 30px;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding: 7.5px 30px;
    }

    .banner-sec {
        display: none
    }
    .cartNoti {
        display: block;
    }
    .form-control {
        width: 100% !important;
    }
   
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        padding: 0px;
    }
    .cartNoti {
        display: block !important;
    }
    ul.dropdown-cart {
        min-width: 200px !important;
    }
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    .post-favourite a,
    .post-comments a {
        margin-right: 7.5px;
    }

    .post-author a,
    .top_header_area .top_social_bar > a {
        margin-right: 15px;
    }

    .post-author a::after {
        right: -7px;
    }
    .footer-social-area .single-icon span {
        display: none;
    }
    .footer-social-area .single-icon:last-of-type > a > i {
        padding-right: 0;
    }
    .top_header_area .signup-search-area .search_button {
        margin-left: 15px;
    }
    .navbar-toggler {
        background-color: #fc6c3f !important;
        width: 100%;
        color: #fff;
        margin-bottom: 30px;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding: 7.5px 30px;
    }
    .banner-sec {
        display: none
    }
    .form-control {
        width: 100% !important;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .container {
        padding: 0px;
    }
    .form-control {
        width:100% !important;
    }
        .banner-sec{
        display:none
    }
    ul.dropdown-cart {
        min-width: 200px !important;
    }
    .cartNoti {
        display: block !important;
    }
}

