@model DOTNET_CuoiKy.Models.Client.LoginModel;

@{
    ViewData["Title"] = "User Login";
}
<h4 class="text-center">Đăng nhập nè bẹn</h4>

<div class="row justify-content-center">
    <div class="col-md-4 ">
        @if (ViewData["UserLoginFailed"] != null)
        {
            <p class="alert alert-danger">@ViewData["UserLoginFailed"]</p>
        }

        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.userName" class="control-label"></label>
                <input asp-for="@Model.userName" class="form-control" />
                <span asp-validation-for="@Model.userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passWord" class="control-label"></label>
                <input asp-for="passWord" class="form-control" />
                <span asp-validation-for="passWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default btn-success" />
                <a asp-action="Login" class="btn btn-info">SignUp</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

